// --------------
// Color Index
// --------------

//  Theme Colors
$color-primary:                     #12008D;
$color-primary-dark:                #3400B2;
$color-primary-light:               #6C63FF;
$color-secondary:                   #FF00B2;
$color-territiary:                  #0BCCFC;

// Neutrals
$color-black:                       #303030;
$color-grey-dark:                   #2A3E58;
$color-grey-brand:                  #4A466A;
$color-grey-slate:                  #8B959A;
$color-grey-light:                  #DCE2E7;
$color-grey-verylight:              #EFEFF5;

// Action Colors
$color-success:                     #A7E521;
$color-error:                       #FF3E1D;
$color-warning:                     #FCDB5B;