
@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');

$font-family: 'Muli';

body {
    font-family: $font-family, sans-serif;
}

// Font Weights
$theme-fw-regular:      400;
$theme-fw-semibold:     600;
$theme-fw-bold:         700;
$theme-fw-xbold:        800;
